div#wrapper {
	height: 0px; /* set to taste */

	/* required */
	position: absolute;
	overflow: visible;
	display: block;
	width: 100%;
	left: 0px;
	top: 30%;
}
div#center {
	overflow: auto; /* set to taste */

	position: absolute; /* required */
	left: 50%; /* required */

	margin-left: -250px; /* half of width */
	width: 500px; /* width of div */

	height: 300px; /* height of div */
	top: -150px; /* half of height */
}